<div class="jumbotron">
  <h2>Welcome to Potion!</h2>
  <p class="lead">A simple blog platform that<br />does not compromise speed and maintainability.</p>
</div>

<%= if user = current_user(@conn) do %>
  <a class="btn btn-default" href='/users/<%= user.id %>/posts'>View My Posts</a>
<% end %>
